<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisFactory" class="cn.com.maoh.template.JedisFactory">
        <property name="redisNodes" value="127.0.0.1:6379"/>
        <property name="password" value="123"/>
        <property name="maxTotal" value="20"/>
    </bean>

    <bean id="jedisTemplate" class="cn.com.maoh.template.JedisTemplate">
        <constructor-arg index="0" ref="jedisFactory"/>
    </bean>

    <bean id="redisSubscriber" class="cn.com.maoh.subscribe.RedisSubscriber">
        <property name="channel" value="redis.queue"/>
        <property name="listeners">
            <map>
                <entry key="redis.queue">
                    <bean class="cn.com.maoh.handler.impl.DefaultMessageHandler"/>
                </entry>
            </map>
        </property>
        <property name="jedisTemplate" ref="jedisTemplate"/>
    </bean>

    <bean id="redisPublisher" class="cn.com.maoh.publish.RedisPublisher" autowire="byType">
        <property name="jedisTemplate" ref="jedisTemplate"/>
    </bean>

</beans>